<div class="cart container wg-flex wg-flex-column">
  <div class="cart__header">
    <app-header-section [isVisibleBtn]="true" [title]="title"></app-header-section>
  </div>
  <ng-container *ngIf="isLoading; else isActive">
    <div class="cart__body wg-flex wg-flex-btw">
      <div class="cart__body__table-section">
         <table class="table animate">
            <thead>
              <tr>
               <th class="table-title placeholder-animate"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let loaderItem of loaderItems | slice:3" class="table-body">
               <td class="table-wrapper placeholder-animate"></td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="cart__body__info-section wg-flex wg-flex-column wg-flex-column-center">
         <div class="promo-code wg-flex wg-flex-column placeholder-animate">
         </div>
         <div class="total wg-flex wg-flex-column placeholder-animate">
         </div>
       </div>
    </div>
  </ng-container>
  <ng-template #isActive>
    <div class="cart__body wg-flex wg-flex-btw">
      <div class="cart__body__table-section">
        <table class="table">
          <thead>
            <tr>
              <th class="table-title">Наименование</th>
              <th class="table-title">Количество</th>
              <th class="table-title">Цена, ₽</th>
              <th class="table-title">Сумма, ₽</th>
              <th class="table-title"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let card of cart" class="table-body">
              <td class="table-wrapper">
                {{card.title}}
              </td>
              <td class="table-wrapper">
                <div class="count-group">
                  <div class="minus" (click)="countMinus(card.id)" [class.disabled]="card.selectedCount === 1">
                    <img src="assets/icon/minus.svg" alt="minus.svg">
                  </div>
                  <div class="form-group-counter">
                    <input class="form-control-counter" onlyNumbers [(ngModel)]="card.selectedCount" />
                  </div>
                  <div class="plus" (click)="countPlus(card.id)">
                    <img src="assets/icon/plus.svg" alt="plus.svg">
                  </div>
                </div>
              </td>
              <td class="table-wrapper">
                <ng-container *ngIf="card.isSale && card.isSalePercent; else default">
                  <div class="text green">
                    {{card.isSale}} ₽
                    <p class="text new-sale-small green">
                      ({{card.isSalePercent}} %)
                    </p>
                  </div>
                </ng-container>
                <ng-template #default>
                  <p class="text">{{card.currnetPrice}} ₽</p>
                </ng-template>
              </td>
              <td class="table-wrapper">
                <p class="text" [ngClass]="{'green': card.isSale && card.isSalePercent}">
                  {{card.currnetPrice}} ₽</p>
              </td>
              <td class="table-wrapper">
                <figure>
                  <img (click)="delete(card.id)" src="assets/icon/close.svg" alt="delete.svg" />
                </figure>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="cart__body__info-section wg-flex wg-flex-column wg-flex-column-center">
        <div class="promo-code wg-flex wg-flex-column">
          <p class="small-subtitle">Введите промокод на скидку</p>
          <div [class.visibility-hidden]="!isNotification">
            <ng-container *ngIf="isError; else isSuccess">
              <p class="text notification-message error">Промокод недействителен</p>
            </ng-container>
            <ng-template #isSuccess>
              <p class="text notification-message success">Применена скидка {{isPromoSalePercent}} %</p>
            </ng-template>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="promocode" class="form-control" placeholder="AK7JK73" />
          </div>
          <button (click)="applyCode()" class="btn btn-dark">Применить код</button>
        </div>
        <div class="total wg-flex wg-flex-column">
          <div class="wg-flex wg-flex-btw wg-flex-besline">
            <p class="text bold">Итого:</p>
            <ng-container *ngIf="!isNotification; else isSale">
              <p class="text">{{total}} ₽</p>
            </ng-container>
            <ng-template #isSale>
              <p><span class="text old-price">{{total}} ₽</span><span class="text green">{{totalWithPromo}} ₽</span></p>
            </ng-template>
          </div>
          <button (click)="applyOrder()" class="btn btn-rubinate">Оформить заказ</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
