<div class="card container wg-flex wg-flex-column">
  <div class="card__header">
    <app-header-section [isVisibleBtn]="true" [title]="collectionTitle"></app-header-section>
  </div>
  <ng-container *ngIf="loading$ | async; else isActive">
    <div class="card__body wg-flex wg-flex-btw">
      <div class="card__body__img-section placeholder-animate"></div>
      <div class="card__body__description-section animate wg-flex wg-flex-start wg-flex-column">
        <h2 class="title bold placeholder-animate"></h2>
        <p class="text description placeholder-animate"></p>
        <div class="info-section wg-flex wg-flex-column">
           <div class="wrapper placeholder-animate"></div>
           <div class="cart-section placeholder-animate"></div>           
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #isActive>
    <div class="card__body wg-flex wg-flex-btw" *ngIf="card">
      <div class="card__body__img-section" heightHandler>
        <div class="card" [@rollCard]="rolledCard === activeCards.backCard ? 'back': 'front'"
          [class.active]="activeCard === activeCards.frontCard">
          <img [src]="card.frontImage" alt="frontside.jpg" [lazyLoad]="card.frontImage" [offset]="elHeight" defaultImage="assets/icon/loading-photo-card.gif">
        </div>
        <div class="card" [@rollCard]="rolledCard === activeCards.backCard ? 'front': 'back'"
          [class.active]="activeCard === activeCards.backCard">
          <img [src]="card.backImage" alt="backside.jpg" [lazyLoad]="card.backImage" [offset]="elHeight" defaultImage="assets/icon/loading-photo-card.gif">
        </div>
        <div class="card-reload" (click)="reloadCard()">
          <img src="assets/icon/reload.svg" alt="reload.svg" />
        </div>
      </div>
      <div *ngIf="siteKey$ | async as siteKey" class="card__body__description-section wg-flex wg-flex-start wg-flex-column">
        <h2 class="title bold">{{ card.title }}</h2>
        <p class="text description">{{ card.description }}</p>
        <div class="info-section wg-flex wg-flex-column">
          <div class="wrapper">
            <p class="text"><span class="text bold">Тираж:</span> {{ card.printCount }} шт.</p>
            <p class="text"><span class="text bold">Остаток:</span> {{ card.printCountLeft }} шт.</p>
            <p class="text"><span class="text bold">Добавлена:</span> {{ card.created | date: 'dd/MM/yy' }} </p>
          </div>

          <div class="cart-section wg-flex wg-flex-btw wg-flex-center">
            <p class="text"><span class="text bold">Стоимость:</span> {{cardPrice}} ₽.</p>
            <div class="count-group">
              <button class="minus" (click)="countMinus()" [disabled]="count === 1">
                <img src="assets/icon/minus.svg" alt="minus.svg">
              </button>
              <div class="form-group-counter">
                <input class="form-control-counter" onlyNumbers [(ngModel)]="count" (blur)="getOld($event)" (ngModelChange)="getCounterChange()"/>
              </div>
              <button class="plus" (click)="countPlus()" [disabled]="card.printCountLeft === count || !card.printCountLeft">
                <img src="assets/icon/plus.svg" alt="plus.svg">
              </button>
            </div>
            <button class="btn btn-rubinate" (click)="captchaRef.execute()" [disabled]="card.printCountLeft < 1">В корзину</button>
          </div>
          <re-captcha #captchaRef="reCaptcha" (resolved)="$event && resolved($event)" [siteKey]="siteKey" size="invisible"></re-captcha>
        </div>
      </div>
    </div>
  </ng-template>
</div>
