@import "variables.scss";

.card {
   &__body {
      width: 100%;
      padding-top: 25px;
      padding-bottom: 28px;

      &__img-section {
         position: relative;
         width: 315px;
         height: 417px;
         margin-right: 25px;

         &.placeholder-animate {
            width: 315px;
            height: 417px;
            border-radius: 9px;
         }

         .card {
            position: absolute;
            transform: translate(65px, 0px);
            max-width: 245px;
            min-height: 354px;
            object-fit: cover;
            filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.25));

            img {
               width: 100%;
            }

            &.active {
               transform: translate(0px, 65px);
               z-index: 1;
            }
         }

         .card-reload {
            position: relative;
            cursor: pointer;
            max-width: 40px;
            transform: translate(270px, 368px);
            z-index: 1;

            img {
               width: 100%;
            }
         }
      }

      &__description-section {
         width: 60%;
         padding: 30px 10px 70px 25px;

         &.animate {
            height: 417px;

            .title {
               height: 30px;
               width: 100%;
               border-radius: 9px;
            }

            .text {
               height: 120px;
               width: 100%;
               border-radius: 9px;
            }

            .info-section {
               .wrapper {
                  width: 40%;
                  height: 80px;
                  border-radius: 9px;
               }

               .cart-section {
                  width: 100%;
                  height: 35px;
                  border-radius: 9px;
               }
            }
         }

         .description {
            margin-top: 25px;
         }

         .info-section {
            margin-top: 20px;
         }

         .cart-section {
            margin-top: 20px;

            .btn-rubinate {
               width: 120px;
               height: 30px;
            }

            p.text {
               width: 145px;
            }
         }
      }
   }
}

@media screen and (max-width: 785px) {
   .card {
      &__body {
         flex-direction: column;
         align-items: center;

         &__img-section {
            margin-right: 0;
         }

         &__description-section {
            width: 100%;
            padding: 30px 0 70px 0px;

            .cart-section {
               max-width: 410px;
            }
         }
      }
   }
}
