<footer class="site-footer">
  <div class="site-footer__wrapper wg-flex wg-flex-btw wg-flex-align-center">
    <figure class="site-footer__logo wg-margin-r-10">
      <img src="assets/icon/woowcard.svg" alt="Woowcard">
    </figure>
    <ul class="site-footer__info wg-flex wg-flex-center">
      <li class="wg-flex wg-flex-center">
        <a class="location">Поддержка</a>
      </li>
      <li class="wg-flex wg-flex-center">
        <a class="location">Оферта и дополнительная информация</a>
      </li>
    </ul>
  </div>
</footer>
