/* colors */

$colorWhite: #ffffff;
$colorLightGray: #fafafa;
$colorGray: gray;
$colorDark: #292929;
$colorRubinate: #bf4342;
$colorIbis: #ee1122;
$colorGreen: #28b446;
$colorBorder: #c4c4c4;

/* colors end */

/* spacing */

$wg-spacing-2: 2px;
$wg-spacing-4: 4px;
$wg-spacing-7: 7px;
$wg-spacing-8: 8px;
$wg-spacing-10: 10px;
$wg-spacing-12: 12px;
$wg-spacing-15: 15px;
$wg-spacing-16: 16px;
$wg-spacing-18: 18px;
$wg-spacing-20: 20px;
$wg-spacing-24: 24px;
$wg-spacing-25: 25px;
$wg-spacing-28: 28px;
$wg-spacing-32: 32px;
$wg-spacing-40: 40px;
$wg-spacing-48: 48px;
$wg-spacing-64: 64px;

/* spacing end */
