<div class="notification container wg-flex wg-flex-column">
  <div class="notification__header">
    <app-header-section [isVisibleBtn]="true" [title]="title"></app-header-section>
  </div>
  <div class="notification__body">
    <div class="notification__body__title wg-flex wg-flex-btw">
      <div class="empty-div"></div>
      <div class="description">
        <p class="text">Дорогие покупатели, карточки имеют ограниченный тираж, но пока они лежат в вашей корзине, они
          недоступны для покупки другими пользователями. В целях борьбы с искусственным дефицитом мы вынуждены очищать
          корзину и возвращать карточки в тираж если не было покупки.
          Не переживайте, у Вас достаточно времени чтобы выбрать и получить свои карточки. </p>
      </div>
    </div>
  </div>
</div>
