@import "variables";

.body {
   max-width: 930px;

   &__wrapper {
      width: calc(100% - 35px);
   }

   .main {
      width: 100%;
      height: 570px;
      overflow-y: auto;
      background-color: $colorWhite;
   }

   .close {
      width: 30px;
      height: 30px;
      margin-left: 5px;
      background-color: $colorLightGray;
      border-radius: 9px;
      cursor: pointer;
   }
}
